FTP_ROOT=./synergyfax_ftp

FAX_NUMBER=5555551234

SEND_WEBHOOK_URL=http://example.com:8080/fax/send
SEND_WEBHOOK_USERNAME=
SEND_WEBHOOK_PASSWORD=

PORT=8080

PRINT_ONLY_MODE=false
PRINTER_NAME=Your Printer Name Here
SUMATRA_PDF_PATH=.\SumatraPDF.exe

FAX_RETENTION_HOURS=24
FAX_CLEANUP_INTERVAL_MINUTES=60